.BuySellBlocks{
   
    margin: 0;
    list-style: none;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    
}

.BuySellHeadingText{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    
}

.BuySellBlock{
    flex: 1; 
    background: #212529;
    padding: 20px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.SubmitOrderButton{
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    height: 36px;
    cursor: pointer;
    outline: 0;
    border-radius: 3px;
    border-color: #178b30;
    background: #178b30;
}

.RadioButtonSelectorArea{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;


}
.MiniRadioButtonSelector{
   
    flex:1;
    flex-grow: 1;
    padding: 0;
    
    border: 1px solid #263043;
    background: transparent;
    border-radius: 3px;
    font-size: 0.4vw;
    font-weight: 500;
    color: #858e9f;
    cursor: pointer;
    
    
}

.InputOrderBoxField{
    width: 100%;
    line-height: 5em;
}

.body{
    -webkit-font-smoothing: antialiased;
    background-color: #101010;
    font-size: 0.6vw;
}


.MiniRadioButtonSelector form button{
 width: 100%;
 flex-grow: 1;
 padding: 20px;
 
 
}

.Navbar{
    display: flex;
    flex-direction: row;
    color: azure;
    justify-content: space-between;
    height: 30px;
}

.NavbarPart{
   flex:1;
   background-color: aqua;
}
.NavbarPart.Right{
    background-color: #858e9f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavbarPart.Left{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.NavbarItem{
    padding: 0 20px;
}

.Logo{
    width: 28px;
}